"""Pytest config file.

Test is a class regrouping the elements that define a test for PyTest.
    
    For each Test instance you declare in a config file, a test will be ran
    by PyTest.
    
      @ivar(name):
    The name of the Test must uniquely determine the
    test. Among others, it will be used to identify the test's results
    (.PyTest/name/*_results/) and to report test informations.
      @type(name):
    String
    
      @ivar(description):
    The description must provide other users an
    insight of what exactly is the Test testing. You are encouraged
    to used triple quoted strings for indented multi-lines
    descriptions.
      @type(description):
    String
    
      @ivar(category):
    The category to which this test belongs. By default, a
    test is considered a 'General' test.
    
    It is not desirable to let an extensive and lengthy test as 'General',
    while one shall refrain abusive use of categories since it is likely
    that only 'General' tests will be ran before most commits...
    
      @type(category):
    string
    
      @ivar(program):
    The program to be run by the Test. The Program
    class currently has four subclasses: LocalProgram,
    GlobalProgram, LocalCompilableProgram and
    GlobalCompilableProgram. The Local prefix specifies that the
    program executable should be found in the same directory than the
    pytest.config file, while Global means that the program is a
    global command. Currently, this mechanism only support commands that
    are in one of the <plearn_branch>/commands/ directory.
    
    The Compilable tag specifies that the program must be compiled.
    The default compiler is pymake, but this behaviour can be changed
    and/or compile options may be specified.
    
      @type(program):
    Program
    
      @ivar(arguments):
    The command line arguments to be passed to the program
    for the test to proceed.
      @type(arguments):
    String
    
      @ivar(resources):
    A list of resources that are used by your program
    either in the command line or directly in the code (plearn or pyplearn
    files, databases, ...). The elements of the list must be string
    representations of the path, absolute or relative, to the resource.
      @type(resources):
    List of Strings
    
      @ivar(precision):
    The precision (absolute and relative) used when comparing
    floating numbers in the test output (default = 1e-6)
      @type(precision):
    float
    
      @ivar(pfileprg):
    The program to be used for comparing files of psave &
    vmat formats. It can be either:
      - "__program__": maps to this test's program if its compilable;
    maps to 'plearn_tests' otherwise (default);
      - A Program instance
    
      @ivar(disabled):
    If true, the test will not be ran.
      @type(disabled):
    bool
    
"""

### The following test is in a separate category to avoid overly stressing the
### version-control mechanism in normal use.
Test(
    name = "PL_PyTest_Modes",
    description = "Exercises version-control-related functions of PyTest",
    category = "PyTestDev",
    program = GlobalProgram( name = "python" ),
    arguments = "modes.py",
    resources = [ "modes.py" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_PyTestCore",
    description = "Performs simple calls to the PyTest program and reports failed calls.",
    category = "General",
    program = GlobalProgram( name = "python" ),
    arguments = "core.py",
    resources = [ "core.py" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )
