"""Pytest config file.

Test is a class regrouping the elements that define a test for PyTest.
"""
Test(
    name = "simplenet",
    description = "",
    program =  LocalCompilableProgram( name = "simplenet",
                                        compiler = "pymake",
                                        compile_options = "-dbg" ),
    arguments = "",
    ressources = []
)
