"""Pytest config file.

Test is a class regrouping the elements that define a test for PyTest.
"""
Test(
    name = "smart_pointer",
    description = "Does basic manipultions with smart pointers -- PP.",
    program =  LocalCompilableProgram( name = "test_PP",
                                       compiler = "pymake",
                                       compile_options = "" ),
    arguments = "",
    ressources = []
    )
