

# ============================= pytest.config ===============================

# Each test contained in this directory which must be runned, must be
# associated with a defineTest(...) method. The defineTest(...) below
# contains the default parameters.

# usage:  defineTest( NAME,
#                     PYMAKE_OPTIONS,
#                     TEST_ARGS,
#                     RELATED_FILES )

# See 'pymake' for a list of lists of mutually exclusive pymake options.

# ---------------------------------------------------------------------------


defineTest( PYMAKE_NAME='test_PP',
            PYMAKE_OPTIONS= '-g++ -dbg',
            TEST_ARGS='',
            RELATED_FILES=["test_PP.cc"]            )
