"""Pytest config file.

Test is a class regrouping the elements that define a test for PyTest.
    
    For each Test instance you declare in a config file, a test will be ran
    by PyTest.
    
      @ivar(name):
    The name of the Test must uniquely determine the
    test. Among others, it will be used to identify the test's results
    (.PyTest/name/*_results/) and to report test informations.
      @type(name):
    String
    
      @ivar(description):
    The description must provide other users an
    insight of what exactly is the Test testing. You are encouraged
    to used triple quoted strings for indented multi-lines
    descriptions.
      @type(description):
    String
    
      @ivar(category):
    The category to which this test belongs. By default, a
    test is considered a 'General' test.
    
    It is not desirable to let an extensive and lengthy test as 'General',
    while one shall refrain abusive use of categories since it is likely
    that only 'General' tests will be ran before most commits...
    
      @type(category):
    string
    
      @ivar(program):
    The program to be run by the Test. The program's name
    PRGNAME is used to lookup for the program in the following manner:
    
    1) Look for a local program named PRGNAME
    2) Look for a plearn-like command (plearn, plearn_tests, ...) named 
PRGNAME
    3) Call 'which PRGNAME'
    4) Fail
    
    Compilable program should provided the keyword argument 'compiler'
    mapping to a string interpreted as the compiler name (e.g.
    "compiler = 'pymake'"). Arguments to be forwarded to the compiler can be
    provided as a string through the 'compile_options' keyword argument.
      @type(program):
    Program
    
      @ivar(arguments):
    The command line arguments to be passed to the program
    for the test to proceed.
      @type(arguments):
    String
    
      @ivar(resources):
    A list of resources that are used by your program
    either in the command line or directly in the code (plearn or pyplearn
    files, databases, ...). The elements of the list must be string
    representations of the path, absolute or relative, to the resource.
      @type(resources):
    List of Strings
    
      @ivar(precision):
    The precision (absolute and relative) used when comparing
    floating numbers in the test output (default = 1e-6)
      @type(precision):
    float
    
      @ivar(pfileprg):
    The program to be used for comparing files of psave &
    vmat formats. It can be either:
      - "__program__": maps to this test's program if its compilable;
    maps to 'plearn_tests' otherwise (default);
      - "__plearn__": always maps to 'plearn_tests' (for when the program
    under test is not a version of PLearn);
      - A Program (see 'program' option) instance
      - None: if you are sure no files are to be compared.
    
      @ivar(disabled):
    If true, the test will not be ran.
      @type(disabled):
    bool
    
"""
Test(
    name = "PL_GaussianDistribution",
    description = "Test single Gaussian",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussian_distribution.pyplearn",
    resources = [ "gaussian_distribution.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_GaussMix",
    description = "Test mixtures of Gaussians",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix.pyplearn",
    resources = [ "gaussmix.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = True
    )

Test(
    name = "PL_GaussMix_Spherical",
    description = "Test training of mixtures of Gaussians of spherical type",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_spherical.pyplearn",
    resources = [ "gaussmix_spherical.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_GaussMix_Spherical_Missing",
    description = "Test training of mixtures of Gaussians of spherical type with missing values",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_spherical_missing.pyplearn",
    resources = [ "gaussmix_spherical_missing.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_GaussMix_Diagonal",
    description = "Test training of mixtures of Gaussians of diagonal type",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_diagonal.pyplearn",
    resources = [ "gaussmix_diagonal.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_GaussMix_Diagonal_Missing",
    description = "Test training of mixtures of Gaussians of diagonal type with missing values",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_diagonal_missing.pyplearn",
    resources = [ "gaussmix_diagonal_missing.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_GaussMix_General",
    description = "Test training of mixtures of Gaussians of general type",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_general.pyplearn",
    resources = [ "gaussmix_general.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )


# The following test fails at ApSTAT with a crash, even with Boost 1.33.1. Maybe a gcc-3.3 compiler bug being tickled?
# Here is the backtrace:
#
# #0  0x0874cc4f in std::list<boost::detail::sep_<unsigned int, boost::property<boost::edge_bundle_t, PLearn::MissingFlag, boost::no_property> >, std::allocator<boost::detail::sep_<unsigned int, boost::property<boost::edge_bundle_t, PLearn::MissingFlag, boost::no_property> > > >::begin (this=0x9415c68) at stl_list.h:571
# #1  0x08748199 in out_edges<boost::detail::adj_list_gen<boost::adjacency_list<boost::listS, boost::vecS, boost::directedS, PLearn::NoProperty, PLearn::MissingFlag, boost::no_property, boost::listS>, boost::vecS, boost::listS, boost::directedS, boost::property<boost::vertex_bundle_t, PLearn::NoProperty, boost::no_property>, boost::property<boost::edge_bundle_t, PLearn::MissingFlag, boost::no_property>, boost::no_property, boost::listS>::config, boost::directed_graph_helper<boost::detail::adj_list_gen<boost::adjacency_list<boost::listS, boost::vecS, boost::directedS, PLearn::NoProperty, PLearn::MissingFlag, boost::no_property, boost::listS>, boost::vecS, boost::listS, boost::directedS, boost::property<boost::vertex_bundle_t, PLearn::NoProperty, boost::no_property>, boost::property<boost::edge_bundle_t, PLearn::MissingFlag, boost::no_property>, boost::no_property, boost::listS>::config> > (u=4, g_=@0xbfbf1f40) at adjacency_list.hpp:1510
# #2  0x08741ec9 in PLearn::GaussMix::train (this=0x942dd18)
#     at /home/chrish/PLearn/plearn_learners/distributions/GaussMix.cc:2859
Test(
    name = "PL_GaussMix_General_Missing",
    description = "Test training of mixtures of Gaussians of general type with missing values",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "gaussmix_general_missing.pyplearn",
    resources = [ "gaussmix_general_missing.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = True
    )

Test(
    name = "PL_GaussMix_Generate",
    description = "Test data generation from mixtures of Gaussians",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "vmat convert gaussian_mixtures_generate.pymat gaussian_mixtures_generate.pmat",
    resources = [ "gaussian_mixtures_generate.pymat" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_ManifoldParzen2",
    description = "Test Manifold Parzen",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "manifold_parzen2.pyplearn",
    resources = [ "manifold_parzen2.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = True
    )

Test(
    name = "PL_ParzenWindow",
    description = "Test Parzen Window",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "parzen_window.pyplearn",
    resources = [ "parzen_window.pyplearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_RandomGaussMix",
    description = "Test RandomGaussMix",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "random_gaussmix_samples_test.plearn",
    resources = [ "random_gaussmix_samples_test.plearn" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )

Test(
    name = "PL_UniformDistribution",
    description = "Test the basic uniform distribution",
    category = "General",
    program = Program(
        name = "plearn_tests",
        compiler = "pymake"
        ),
    arguments = "vmat convert uniform_data.vmat uniform_data.amat",
    resources = [ "uniform_data.vmat" ],
    precision = 1e-06,
    pfileprg = "__program__",
    disabled = False
    )
