
DefineTest( local_pymake_name='compareNet',
            pymake_options= '-g++ -dbg',
            related_files=['compareNet.cc'] )

DefineTest( local_pymake_name='simpleFunctions',
            pymake_options= '-g++ -dbg',
            related_files=['simpleFunctions.h', 'simpleFunctions.cc'] )

DefineTest( local_pymake_name='test_BinaryVariable_bbprop',
            pymake_options= '-g++ -dbg',
            related_files=['test_BinaryVariable_bbprop.cc'] )

DefineTest( local_pymake_name='test_SquareRootVariable',
            pymake_options= '-g++ -dbg',
            related_files=['test_SquareRootVariable.cc', 'test_SquareRootVariable.h'] )
