/* Color scheme:
#BFCFFF
#809FFF
#0033CC
#00248F

#230FA8
#190B76
#CDC5FF
#9A8BFF

#007AA8
#005676
#BFEEFF
#80DCFF

#FF9900
#B36B00
#FFE6BF
#FFCC80
*/

body	  { font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
            border-style: solid none none none; border-width: 5px 0 0 0; border-color: #809FFF; }
html      { background: url(background.png) repeat; background-color:BFCFFF}
a         { color: #0033CC; text-decoration: none; padding: 2px 3px 2px 3px; }
a:hover   { color: #CDC5FF; background-color: #005676; }

#wrapper {
        background: #BFCFFF; margin: 10px auto; 
        border-style: solid; border-width: 0px 1px 1px 1px; border-color: #809FFF
        position:relative;
	voice-family: "\"}\""; 
	voice-family:inherit;
	width: 800px;
	}
/* CSS2 selector not understood by old IE versions */
html>#wrapper	   { width: 800px }

#banner             { background: url(plearn.jpg) no-repeat; margin: 0; padding: 0;
                      border-style: solid; border-width: 1px 0px 1px 0px; border-color: #809FFF; 
                      position: relative; width: 800px; height: 100px }

.topnav             { background-color: #007AA8; color: #0033CC;
                      font-style: italic; font-size:80%;
                      text-align: right;
                      padding: 2px 0px 1px 0px;
                      border-top: 1px solid #809FFF;
                      border-right: 0px;
                      border-left: 0; border-bottom:0 }

.topnav a           { color: #CDC5FF; border-left: 1px solid #809FFF; }
.topnav a:hover     { background-color: #005676 }

.crumbtrail         { background-color: #007AA8; color: #CDC5FF; /* font-weight:bold; */
                      font-style: italic;  font-size:80%;
                      border-bottom: 0px solid #809FFF; display: block;
                      padding: 2px 3px 2px 10px; }
                      /* border-left: 12px solid #809FFF; } */
.crumbtrail a       { color: #CDC5FF }
.crumbtrail a:hover { background-color: #005676 }

.classname   { color: #FF9900; font-weight: bold; font-size: x-large; background-color: #005676; padding: 15px;
               border-top: 1px solid #809FFF; border-bottom: 1px solid #809FFF; display: block }
.classdescr  { font-style: italic; padding: 5px 15px; border-bottom: 1px dashed #809FFF; display: block }
.classhelp   { padding: 5px 15px; display: block }

.cmdname   { color: #FF9900; font-weight: bold; font-size: x-large; background-color: #005676; padding: 15px;
               border-top: 0px solid #809FFF; border-bottom: 1px solid #809FFF; display: block }
.cmddescr  { font-style: italic; padding: 5px 15px; border-bottom: 1px dashed #809FFF; display: block }
.cmdhelp   { padding: 5px 15px; display: block }

.generaltable        { margin: 3ex 0px 0px; padding: 0px 0px 0px 15px}
.generaltable table  { width:100% }
.generaltable tr     { margin: 0; padding: 0; border: none }
.generaltable td     { margin: 0; padding: 1ex 1ex 1ex 0.5ex; border-style: none none dashed dashed;
                       border-width: 0px 0px 1px 1px; border-color: #809FFF }
.generaltable tr.odd              { background-color: #b6c5f2; }

/* p { padding-right: 15px; padding-left: 15px } */

/* h1  { color: #ccf; background-color: #335; margin: 0; padding: 10px; display:block; } */
h2  { padding: 0.5em 0px 0; border-bottom: 1px dashed #809FFF; margin: 0 }
h3  { margin: 0; padding: 0.5em 0 0.5em 10px }
h4  { margin: 0; padding-left: 1em; padding-top: 1em; }

.opttype  { color:#007AA8; font-family:monospace }
.optname  { font-weight: bold; font-size: 115%; font-style: italic }
.optvalue { color:#007AA8; font-family:monospace }

.rmitable                 { margin: 3ex 0px 0px; padding: 0px 0px 0px 10px}
.rmitable table           { width:100%; border-left: 1px dashed #809FFF;
                            border-bottom: 1px dashed #809FFF }
.rmitable tr              { margin: 0; padding: 1em; border: none; vertical-align: baseline }
.rmitable td              { margin: 0; padding: 1ex 1ex 1ex 0.5ex;
                            border: 0px }
.rmitable tr.first        { border-top: 3px solid #005676;
                            border-left:0px solid #007AA8; border-right:0px solid #007AA8;
                            background-color: #007AA8; color: #CDC5FF; margin-top:2px }
.rmitable tr.others       { border-top: 3px solid #005676;
                            border-left:0px solid #007AA8; border-right:0px solid #007AA8;
                            background-color: #007AA8; color: #CDC5FF; margin-top:4px }

.rmititle                 { font-weight: bold; }
.rmiprototype             { font-weight: bold; font-size: 110%; }
.rmifuncname              { color:#e7e7e7 }

.rmitable td.argnameeven  { color:#007AA8; font-family:monospace }
.rmitable td.argdoceven   { }
.rmitable td.argnameodd   { background-color: #b6c5f2; color:#007AA8; font-family:monospace }
.rmitable td.argdocodd    { background-color: #b6c5f2; }

.fromclass { font-style: italic ; float:right }
address { padding-left: 15px ; padding-right: 15px ; border-top: 1px solid #809fff ; font-size:80%; }
