

# ============================= pytest.config ===============================

# Each test contained in this directory which must be runned, must be
# associated with a defineTest(...) method. The defineTest(...) below
# contains the default parameters.

# usage:  defineTest( NAME,
#                     PYMAKE_OPTIONS,
#                     TEST_ARGS,
#                     RELATED_FILES )

# See 'pymake' for a list of lists of mutually exclusive pymake options.

# ---------------------------------------------------------------------------


defineTest( PYMAKE_NAME='test_TVec',
            PYMAKE_OPTIONS= '-g++ -dbg',
            TEST_ARGS='',
            RELATED_FILES=['test_TVec.h', 'test_TVec.cc'] )

_mat_dir = 'Matrices'
_matrices = []
def _addToMatrices(matrices, dir, dirlist):
    print dir
    if string.find(dir, 'CVS') != -1:
        return
    matrices.append(dir)
    for file in dirlist:
        file = os.path.join(dir, file)
        if os.path.isfile(file) and not os.path.isdir(file):
            matrices.append(file)

os.path.walk(_mat_dir, _addToMatrices, _matrices)
#raw_input( _matrices )

_test_TMat_maths_related_files = _matrices
_test_TMat_maths_related_files.append("test_TMat_maths.cc")
_test_TMat_maths_related_files.append("test_TMat_maths.h")

defineTest( PYMAKE_NAME='test_TMat_maths',
            PYMAKE_OPTIONS= '-g++ -dbg -throwerrors',
            TEST_ARGS= os.path.join(test_suite_dir, 'TMat/Matrices/Random'),
            RELATED_FILES= _test_TMat_maths_related_files )
