HOME                                              "${HOME}"
PLEARNDIR                                         "HOME:PLearn"
PLEARN_LIBDIR                                     "PLEARNDIR:external_libs"
DBDIR                                             "/u/lisa/Database"
UCI_MLDB_REP                                      "DBDIR:UCI_MLDB"
UCI_MLDB                                          "PLEARNDIR:examples/data/uci_mldb"
CGI_ROOT                                          "/home/fringant2/lisa/chaire_finance/exp_2006/chaire/exp_v2"
PYTEST__PL_RegressionTree_MulticlassOutput_Speed__RESULTS "HOME:PLearn/speedtest2/.pytest/PL_RegressionTree_MulticlassOutput_Speed/expected_results"
