"""Pytest config file.

Test is a class regrouping the elements that define a test for PyTest.
    
      @ivar(name):
    The name of the Test must uniquely determine the
    test. Among others, it will be used to identify the test's results
    ( pytest/*_results/name/ ) and to report test informations.
      @type(name):
    String
    
      @ivar(description):
    The description must provide other users an
    insight of what exactly is the Test testing. You are encouraged
    to used triple quoted strings for indented multi-lines
    descriptions.
      @type(description):
    String
    
      @ivar(program):
    The program to be run by the Test. The Program
    class currently has four subclasses: LocalProgram,
    GlobalProgram, LocalCompilableProgram and
    GlobalCompilableProgram. The Local prefix specifies that the
    program executable should be found in the same directory than the
    pytest.config file, while Global means that the program is a
    global command. Currently, this mechanism only support commands that
    are in one of the <plearn_branch>/commands/ directory.
    
    The Compilable tag specifies that the program must be compiled.
    The default compiler is pymake, but this behaviour can be changed
    and/or compile options may be specified.
    
      @type(program):
    Program
    
      @ivar(arguments):
    The command line arguments to be passed to the program
    for the test to proceed.
      @type(arguments):
    String
    
      @ivar(resources):
    A list of resources that are used by your program either
    in the command line or directly in the code (plearn or pyplearn files, 
databases, ...).
    The elements of the list must be string representations of the path, 
absolute or relative,
    to the resource.
      @type(resources):
    List of Strings
    
"""
Test(
    name = "PL_knn_classifier_tester_gaussian_sigma1",
    description = "Test KNN Classifier on Elements of Statistical Learning mixture data (gaussian kernel, sigma=1)",
    program = GlobalCompilableProgram(
        name = "plearn_tests",
        compiler = "pymake",
        compile_options = ""
        ),
    arguments = "knn_classifier.pyplearn kernel=GaussianKernel sigma=1 output=tester",
    resources = [ "knn_classifier.pyplearn" ],
    disabled = True
    )

Test(
    name = "PL_knn_classifier_tester_gaussian_sigma3",
    description = "Test KNN Classifier on Elements of Statistical Learning mixture data (gaussian kernel, sigma=3)",
    program = GlobalCompilableProgram(
        name = "plearn_tests",
        compiler = "pymake",
        compile_options = ""
        ),
    arguments = "knn_classifier.pyplearn kernel=GaussianKernel sigma=3 output=tester",
    resources = [ "knn_classifier.pyplearn" ],
    disabled = True
    )

Test(
    name = "PL_knn_classifier_grapher_rectangular",
    description = "Test KNN Classifier on Elements of Statistical Learning mixture data (rectangular window, output through grapher)",
    program = GlobalCompilableProgram(
        name = "plearn_tests",
        compiler = "pymake",
        compile_options = ""
        ),
    arguments = "knn_classifier.pyplearn kernel=Constant output=grapher",
    resources = [ "knn_classifier.pyplearn" ],
    disabled = True
    )
